
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Header Font & Spacing */
header {
	font-size: 40px;
	padding-top: 20px;
	padding-bottom: 0px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-weight: bold;
}

/* Body font and spacing */
body {
	font-family: 'Roboto', sans-serif;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin: 25px;
	background: url("https://www.oceanrisksummit.com/Content/images/ocean-poster.png");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

button {
	background: #e4ff00;
	border: 0;
	border-radius: 5px;
}

/* subtitle spacing */
H2 {
	padding-bottom: 20px;
}

#close-button {
	color: white;
	margin: 10px;
	text-align: left;
}

#close-button:hover {
	cursor: pointer;
	color: grey;
	transition: all 0.3s ease;
}


.preview-video-modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* max-width: 100%;  */
	/* height: auto;  */
	background: #000;
	padding: 20px;
	transition: all 0.3s ease;
}


/* Link Treatment */
a:link {
	color: black;
	text-decoration: none;
}
a:visited { color: purple; }

/* Background  (Tried a "paralax" treatment to no success) */

h1 {
	font-size: 13px;
	color: #fff;
}

p {
	color: #fcfcfc;
	font-size: 11px;
}

.video-item {
	background: rgba(255, 255, 255, .1);
	margin: 10px 0;
}

.search-box,
.search-button {
	width: 100%;
	margin: 3px 0;
	height: 30px;
}

/* Small landscape orientation devices (tablets, 768px and up) */
@media (min-width: 640px) {
	body {
		background: url("https://www.oceanrisksummit.com/Content/images/ocean-poster.png");
	}
	h1 {
		font-size: 14px;
	}
	.video-item {
		width: 44%;
    display: inline-block;
    margin: 10px 10px;
    vertical-align: top;
	}

	.search-box,
	.search-button {
		width: 400px;
		height: 30px;
		margin: 0;
	}
	.search-button {
		width: 80px;
	}
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	body {
		background: url("https://www.oceanrisksummit.com/Content/images/ocean-poster.png");
	}
	h1 {
		font-size: 14px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	body {
		background: url("https://www.oceanrisksummit.com/Content/images/ocean-poster.png");
	}
	h1 {
		font-size: 19px;
	}
	.video-item {
		width: 30%;
		min-height: 230px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	body {
		background: url("https://www.oceanrisksummit.com/Content/images/ocean-poster.png");
	}
	h1 {
		font-size: 25px;
	}
	.video-item {
		width: 20%;
		min-height: 320px;
	}
}
